<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" /> <!-- 悬浮窗口权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 关闭应用程序的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />

    <!--    <permission-->
    <!--        android:name="android.permission.SET_TIME"-->
    <!--        android:protectionLevel="signature|system" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FullHDMI"></activity>
        <activity android:name=".MainActivity" />
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!--  -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="C3 DSS"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        -->
        <!--        -->
        <!--        -->
        <!--        -->
        <!--        -->
        <receiver
            android:name=".RunOnStartup"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!--                <data android:scheme="package" />-->
            </intent-filter>

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.HDMI_PLUGGED" />-->
            <!--                &lt;!&ndash;                <data android:scheme="package" />&ndash;&gt;-->
            <!--            </intent-filter>-->

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->
            <!--                <data android:scheme="package" />-->
            <!--            </intent-filter>-->

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
            <!--                <data android:scheme="package" />-->
            <!--            </intent-filter>-->
            <!--<intent-filter>-->
            <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
            <!--</intent-filter>-->

        </receiver>
    </application>

</manifest>